[Unit]
Description=IPTV service
After=network.target

[Service]
Type=simple
Restart=always
User=root
ExecStart=python3 /etc/iptv/iptv

[Install]
WantedBy=multi-user.target